@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=16061020898'); /* IE9 */
    src:url('../font/iconfont.ttf?t=16061020878') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../font/iconfont.svg?t=16061020898#iconfont') format('svg'); /* iOS 4.1- */
  }
  @font-face {
    font-family: 'vukVideo';
    src: url('~@/components/vukVideo/src/css/iconfont.eot?t=1606102089878'); /* IE9 */
    src:url('~@/components/vukVideo/src/css/iconfont.ttf?t=1606102089878') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('~@/components/vukVideo/src/css/iconfont.svg?t=1606102089878#iconfont') format('svg'); /* iOS 4.1- */
}
[class*='vuk-video-iconfont'] {
    font-family: 'vukVideo' !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconfont,
[class*='icon-'] {
    font-family: 'iconfont';
    font-size: 16pt;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
    content: '\e7c3';
}

.icon-check:before {
    content: '\e7c4';
}

.icon-collect:before {
    content: '\e7c5';
}

.icon-back:before {
    content: '\e7c6';
}

.icon-collectActive:before {
    content: '\e7c7';
}

.icon-commend:before {
    content: '\e7c8';
}

.icon-courseActive:before {
    content: '\e7c9';
}

.icon-courseDownload:before {
    content: '\e7ca';
}

.icon-date:before {
    content: '\e7cb';
}

.icon-delete:before {
    content: '\e7cc';
}

.icon-del:before {
    content: '\e821';
}
.icon-down:before {
    content: '\e7cd';
}

.icon-downloading:before {
    content: '\e7ce';
}

.icon-downloadFinish:before {
    content: '\e7cf';
}

.icon-downloadManage:before {
    content: '\e7d0';
}

.icon-downloadNotStart:before {
    content: '\e7d1';
}

.icon-exam-card:before {
    content: '\e7d2';
}

.icon-homeActive:before {
    content: '\e7d3';
}

.icon-hot:before {
    content: '\e7d4';
}

.icon-examActive:before {
    content: '\e7d5';
}

.icon-latest:before {
    content: '\e7d6';
}

.icon-learnTaskIcon:before {
    content: '\e7d7';
}

.icon-myCourse:before {
    content: '\e7d8';
}

.icon-myCollect:before {
    content: '\e7d9';
}

.icon-myActive:before {
    content: '\e7db';
}

.icon-next-exam:before {
    content: '\e7dd';
}

.icon-notCheck:before {
    content: '\e7de';
}

.icon-play:before {
    content: '\e7df';
}

.icon-no-pass-icon:before {
    content: '\e7e0';
}

.icon-pass-icon:before {
    content: '\e7e1';
}

.icon-praise:before {
    content: '\e7e2';
}

.icon-perfect-icon:before {
    content: '\e7e3';
}

.icon-pre-exam:before {
    content: '\e7e4';
}

.icon-right:before {
    content: '\e7e5';
}

.icon-reply:before {
    content: '\e7e6';
}

.icon-search:before {
    content: '\e7e7';
}

.icon-shareActive:before {
    content: '\e7e8';
}

.icon-share:before {
    content: '\e7e9';
}
.icon-share-new:before {
    content: '\e81a';
}

.icon-starHalf:before {
    content: '\e7ea';
}

.icon-sign-:before {
    content: '\e7eb';
}

.icon-starEmpty:before {
    content: '\e7ec';
}

.icon-starWhole:before {
    content: '\e7ed';
}

.icon-studyFinish:before {
    content: '\e7ee';
}

.icon-time:before {
    content: '\e7ef';
}

.icon-studyInterest:before {
    content: '\e7f0';
}

.icon-tipClose:before {
    content: '\e7f1';
}

.icon-up:before {
    content: '\e7f2';
}

.icon-wrong:before {
    content: '\e64a';
}

.icon-pinglun-xuanzhong:before {
    content: '\e7f4';
}

.icon-exam:before {
    content: '\e7f5';
}

.icon-myExam:before {
    content: '\e7f6';
}

.icon-myTask1:before {
    content: '\e7f7';
}

.icon-bianjix:before {
    content: '\e7f8';
}

.icon-fanhuix:before {
    content: '\e7f9';
}

.icon-fenxiangx:before {
    content: '\e7fa';
}

.icon-gengduox:before {
    content: '\e7fb';
}

.icon-dizhix:before {
    content: '\e7fc';
}

.icon-mingzix:before {
    content: '\e7fd';
}

.icon-shijianx:before {
    content: '\e7fe';
}

.icon-shouyex:before {
    content: '\e7ff';
}

.icon-wodex:before {
    content: '\e800';
}

.icon-sousuox:before {
    content: '\e801';
}

.icon-xianxiakecheng:before {
    content: '\e802';
}

.icon-exams:before {
    content: '\e7ff';
}
.icon-down-arrow:before {
    content: '\e600';
}
.icon-end-time:before {
    content: '\e602';
}
.icon-select-right:before {
    content: '\e83b';
}
.icon-warning::before{
    content: '\e7f3';
}

.icon-progress::before {
    content: '\e814';
}
.icon-book::before{
    content: '\e81e';
}
.icon-time-progress::before{
    content: '\e81c';
}
.icon-clock-time::before{
    content: '\e81b';
}
.icon-person-user::before{
    content: '\e81f';
}

.icon-map::before{
    content: '\e820';
}

.icon-views::before {
    content: '\e822';
}

.icon-course-collect::before {
    content: '\e825';
}

.icon-course-collected::before {
    content: '\e824';
}

.icon-course-evalaute::before {
    content: '\e823';
}